/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  font-family: "Work Sans";
  font-size: 14px;
}
.wrapper {
  max-width: 1140px;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding-left: 50px;
  font-size: 1.2em;
}
nav li a {
  color: black;
}
a:hover {
  color: #b1663c;
}
.logout {
  display: none;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
#portfolio ul {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 45px 0;
}
#portfolio .btn {
  font-family: "Syne";
  font-size: 1rem;
  text-align: center;
  border-radius: 60px;
  padding: 7px 19px;
  border: 1px solid #1d6154;
  color: #1d6154;
  cursor: pointer;
  transition: all 200ms ease;
}
#portfolio .btn:hover {
  color: white;
  background-color: #1d6154;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
  transition: all 200ms ease;
}
input[type="submit"]:hover {
  transform: scale(1.1);
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* ------------ CSS login.html --------------- */

#login {
  width: 50%;
  max-width: 400px;
  margin: auto;
}
#login > * {
  text-align: center;
}
#login h2 {
  margin-bottom: 20px;
}
#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  outline: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
  margin: 2em 0 1em 0;
}
#login a {
  margin: 0 auto;
  color: black;
  text-decoration: underline;
}
#login a:hover {
  color: #b1663c;
}

/* ---------------- ajout style partie admin ------------ */
.header-top {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: black;
  color: white;
  font-size: 0.8rem;
  display: none;
}
.header-top i {
  margin-right: 10px;
}
.header-top button {
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
}
#introduction .modal-btn {
  width: 80%;
  margin: 10px auto 0;
}
#portfolio .title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 90px 0 70px;
}
#portfolio h2 {
  margin: 0;
  grid-column: 2/3;
}
.modal-btn {
  font-family: "Work sans";
  font-size: 0.9rem;
  color: black;
  font-weight: 100;
  display: flex;
  align-items: center;
  visibility: hidden;
}

/* --------------- Modal --------------- */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  height: 670px;
  width: 550px;
  border-radius: 5px;
  text-align: center;
}
.top-btn {
  display: flex;
  justify-content: space-between;
}
.back {
  visibility: hidden;
}
.close,
.back {
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}
.modal-wrapper h3 {
  font-size: 1.3rem;
  margin-top: 20px;
}
.modal-content {
  height: 100%;
}
/* ********************* Css galerie ********************* */
.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
  height: 60%;
  margin: 30px auto 60px;
}
.gallery-wrapper figure {
  width: 80px;
  margin-bottom: 10px;
  margin-right: 8px;
  position: relative;
}
.delete-work-btn {
  position: absolute;
  right: 0;
  margin: 3px;
  padding: 3px;
  color: #fff;
  background-color: black;
  font-size: 0.6rem;
  border-radius: 2px;
  cursor: pointer;
}
.gallery-wrapper img {
  object-fit: cover;
  width: 100%;
}
.gallery-wrapper figcaption {
  text-align: left;
  font-size: 0.6rem;
}
/* ***************** Css formulaire ****************** */
.form-wrapper {
  height: 65%;
}
.content {
  background-color: #e8f1f6;
  border-radius: 5px;
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.content i {
  font-size: 5rem;
  color: #b9c5cc;
}
label[for="content"] {
  cursor: pointer;
  color: #306685;
  background-color: #b9c5cc;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 300ms ease;
}
label[for="content"]:hover {
  color: #b9c5cc;
  background-color: #306685;
}
input[type="file"] {
  display: none;
}
.title-content,
.cat-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 40px auto;
  text-align: left;
}
.title-content,
.cat-content label {
  font-weight: bold;
}
input[type="text"],
select[name="category"] {
  box-shadow: 0px 2px 10px 0px rgb(145 145 145 / 40%);
  border: none;
  border-radius: 5px;
  height: 40px;
  outline: none;
  margin: 10px 0;
}
.modal-wrapper input[type="submit"] {
  width: 50%;
  margin: 0;
  font-size: 1.2rem;
  padding: 10px;
}
/* ******************* Fin formulaire ***************** */
.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.btn-wrapper:before {
  content: "";
  height: 1px;
  width: 70%;
  background-color: #adadad;
  position: relative;
  top: -10px;
}
#modal2 .btn {
  padding: 10px 40px;
  color: white;
  background-color: #1d6154;
  width: 50%;
}
.btn-wrapper .delete-gallery {
  color: darkorange;
  background-color: transparent;
  cursor: pointer;
}
